.title {
  text-align: center;
  position: absolute;
  top: 3rem;
}
.simon-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}
.header {
  display: flex;
  align-items: baseline;
  column-gap: 5rem;
  margin-bottom: 3rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-gap: 20px;
  margin-bottom: 3rem;
}

.button {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #333;
}
.button.active {
  filter: brightness(300%);
  box-shadow: 0 0 20px #000;
}

.button-0 {
  background-color: red;
}

.button-1 {
  background-color: green;
}

.button-2 {
  background-color: blue;
}

.button-3 {
  background-color: yellow;
}

.game-over {
  margin-top: 20px;
  font-size: 24px;
  color: red;
}
